@using NewWebApplication.Models
@model AdminProductModel
@{
    ViewBag.Title = "Index";
}
@*BUG: Fix bug when open admin page from main page *@
@*BUG: crazy work actions *@
<h1>Administration</h1>
<hr />
<h3>Add Product:</h3>
<table>
    @using (Html.BeginForm("AddProduct", "Admin",  FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        <tr>
            <td>@Html.Label("Category:")</td>
            <td>
                @{
                    var listItems = new List<SelectListItem>();

                    using (var _db = new ProductContext())
                    {
                        var query = _db.Categories;

                        foreach (var item in query)
                        {
                            listItems.Add(new SelectListItem
                            {

                                Text = item.CategoryName,
                                Value = item.CategoryID.ToString()
                            });
                        }
                    }

                }
                @Html.DropDownListFor(m => m.Categories, listItems, new {@class = "form-control"})

            </td>
        </tr>
        <tr>
            <td>@Html.Label("Name:")</td>
            <td>
                @Html.TextBoxFor(m => m.Name, new {placeholder = "Product Name", required = ""})
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Description:")</td>
            <td>
                @Html.TextBoxFor(m => m.Description, new {placeholder = "Product Description", required = ""})
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Price:")</td>
            <td>
                @Html.TextBoxFor(m => m.Description, new { placeholder = "Product Price", required = "" })
            </td>
        </tr>
        <tr>
            @using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <td>@Html.Label("Image File:")</td>
                <td>
                    <input type="file" name="NewFile" id="ProductImage"/>
                    <input type="submit" value="Upload Image"/>
                </td>
            }
        </tr>
    }
</table>
<p></p>
<p></p>
<input type="submit" value="Add Product" />
<asp:Label ID="LabelAddStatus" runat="server" Text=""></asp:Label>
<p></p>
<h3>Remove Product:</h3>
<table>
    <tr>
        <td>@Html.Label("Product:")</td>
        <td>
            @{
                var listProducts = new List<SelectListItem>();

                using (var _db = new ProductContext())
                {
                    var query = _db.Products;

                    foreach (var item in query)
                    {
                        listProducts.Add(new SelectListItem
                        {

                            Text = item.ProductName,
                            Value = item.CategoryID.ToString()
                        });
                    }
                }

            }
            @Html.DropDownListFor(m => m.Products, listProducts, new { @class = "form-control" })
        </td>
    </tr>
</table>
<p></p>
<input type="submit" value="Remove Product" />
<asp:Label ID="LabelRemoveStatus" runat="server" Text=""></asp:Label>

