@using NewWebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<!--TODO: Re-Design External Button-->
@*
    <div class="row">
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
*@
<div class="banner">
    <div class="banner-text">
        <div class="container">
            <h2>
                Delicious food from the
                <br>
                <span>Best Chefs For you.</span>
            </h2>
        </div>
    </div>
</div>


<div class="login-page about">
    <img class="login-w3img" src="../../Content/images/img3.jpg" alt="">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Login to your account</h3>
        <div class="login-agileinfo">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                @Html.TextBoxFor(m => m.Email, new {@class = "agile-ltext", placeholder = "Email", required = "", TextMode = "Email"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger", ErrorMessage = "The email field is required."})

                @Html.PasswordFor(m => m.Password, new {@class = "agile-ltext", placeholder = "Password", TextMode = "Password", required = ""})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger", ErrorMessage = "The password field is required."})
                <div class="wthreelogin-text">
                    <ul>
                        <li>
                            <a>@Html.CheckBoxFor(m => m.RememberMe) <span> Remember me ?</span></a>
                        </li>
                        <li>
                            <a>
                                @Html.ActionLink("Forgot password?", "ForgotPassword")
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="LOGIN"/>
            }
            <p>
                Don't have an Account? <a>
                    @Html.ActionLink("Sign Up Now!", "Register")
                </a>
            </p>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}